- content_for :floating do
  .labels-form
    = render :partial => 'label_indices/new'
    %span.operation&= _("close")

.app-layout
  - div_for(@note) do
    .current-title&= _("edit note properties")
    - form_for(@note) do |f|
      =f.error_messages
      %table.skipwiki.input
        %tr
          %th= f.label :display_name, h(_("Note|Display name"))
          %td= f.text_field :display_name

        %tr
          %th= f.label :description, h(_("Note|Description"))
          %td= f.text_field :description, :size=>"60"

        %tr
          %th&= _("Note|LabelNavigationStyle")
          %td
            %ul.radios
              - LabelIndex.navigation_styles.each do |style|
                %li
                  =f.radio_button(:label_navigation_style, style)
                  =f.label "label_navigation_style_#{style}", h(navi_style_label(style))
        %tr
          %th&= _("Note|List attachments")
          %td
            %ul.radios
              - [false, true].each do |val|
                %li
                  =f.radio_button(:list_attachments, val)
                  =f.label "list_attachments_#{val}", h(list_attachments_label(val))

        %tr
          %th&= _("Page|Label indices")
          %td
            %span.operation&= _("edit labels")

      = f.submit _("Update")

:javascript
  $(document).ready(function(){
    var label_form = $("div.labels-form");
    label_form.manageLabel();
    $("table.input td .operation").click(function(){ label_form.show() });
    $("div.labels-form > span.operation").click(function(){
      label_form.hide();
      $(".label-indices").reloadLabelSelect(#{{:url=>note_label_indices_path(current_note)}.to_json});
    });
  });
