%h2.current-title&= _("note attachments")
- div_for(current_note, :class=>"app-layout") do
  - if @attachments.empty?
    ファイルはまだアップロードされていません。
  - else
    %table.attachment-list.skipwiki
      %tr
        %th.display_name&= _("Page|Display name")
        %th&= _("Attachment|Filename")
        %th.conent_type&= _("Attachment|Content type")
        %th&= _("Attachment|Created at")
        %th.operation
        %th.operation
      - @attachments.each do |at|
        %tr
          %td.page_name&= at.attachable.display_name
          %td.display_name&= at.display_name
          %td.content_type&= at.content_type
          <!-- %td.size&= number_to_human_size(at.size) -->
          %td.timestamp.updated_at&= at.updated_at.strftime("%Y/%m/%d %H:%M")
          %td.operation= link_to content_tag("span", _("Download"), :class=>"operation"), attachment_path(at)
          %td.operation= link_to content_tag("span", _("Delete"), :class=>"operation"), attachment_path(at), :method => :delete
