- content_for :header do
  =stylesheet_link_tag "jquery/ui.datepicker.css"

- unless current_note.wikipedia?
  %tr
    %th= form.label(:published, h(_("Page|PublishRange")))
    %td
      %span.all_public= form.radio_button(:published, true)
      %span= _("Public all")
      %span.closed= form.radio_button(:published, false)
      %span= _("Public only this wiki's member")
%tr
  %th
    = form.label(:label_index_id, h(_("Page|Label indices")))
    %br
    %span.operation&= _("edit labels")
  %td
    .label-indices
      %p.help&=_("Select Label")
      = form.select("label_index_id", label_navi_for_new_page(current_note))
      %p.input-label
        %p.help&=_("Edit Label|Name Desc")
        = text_field_tag 'label[display_name]'
        = hidden_field :label, :color
        %label{:for => "label_display_name"}
      %ul.choice-color
        - label_colors.each_with_index do |color, class_name_index|
          %li
            %a{:class => "color#{class_name_index+1}", :style => "color: #{color}"}= "■"
      .clear
      %div.confirm-label-color
        %span= "分類作成イメージ"
        %span.demo= "テスト"
  .clear

:javascript
  $(document).ready(function(){
    var colors = #{label_colors.to_json};
    for(var i in colors){
      var num = parseInt(i)+1;
      var class = "a.color"+String(num);

      jQuery(class).click(function(){
        if(jQuery("#label_display_name").val()){
          var title = jQuery("#label_display_name").val();
        }else{
          var title = "テスト";
        };

        var color = jQuery(this).css("color");
        var rgb = jQuery(this).css("color").slice(jQuery(this).css("color").indexOf("(")+1, jQuery(this).css("color").indexOf(")")).split(",");
        // RGB -> #FFFFFF変換
        var color_code = ((1<<24)+(parseInt(rgb[0])<<16)+(parseInt(rgb[1])<<8)+parseInt(rgb[2])).toString(16).replace(/^1/,'#')
        jQuery("span.demo").css("background-color", color_code).css("color", "black").html(title);
        jQuery("#label_color").val(color_code);
      });
    }

  });