- content_for :header do
  =stylesheet_link_tag "jquery/ui.datepicker.css"

- unless current_note.wikipedia?
  %tr
    %th= form.label(:published, h(_("Page|Published")))
    %td= form.check_box(:published)

%tr
  %th
    = form.label(:label_index_id, h(_("Page|Label indices")))
    %br
    %span.operation&= _("edit labels")
  %td
    .label-indices
      = form.select("label_index_id", label_navi_for_new_page(current_note))
      %p.input-label
        = text_field_tag 'label[display_name]'
        %label{:for => "label_display_name"}
          %span.help&=_("Edit Label|Name Desc")
      %p.input-label
        = text_field_tag 'label[color]'
        %label{:for => "label_color"}
          %span.help&=_("Edit Label|Color Desc")
    .clear

